$main-blue: #1E4959;
$secondary-blue: #518294;
$main-desert: #A64521;
$secondary-desert: #BF6836;
$beige: #F2D8C2;
$light-gray: #A8A8A8;
$dark-gray: #383838;
$body-font: "Raleway";
$title-font: "Montserrat";

$project-image-width: 150px;
$project-image-height: 100px;
$topic-nav-margin: 50px;
$topic-nav-width: 200px;

$tablet-min-width: 769px;

$light-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);