$main-blue: #1E4959;
$main-desert: #A64521;
$secondary-desert: #BF6836;
$beige: #F2D8C2;
$body-font: "Raleway";
$title-font: "Montserrat";

$project-image-width: 150px;
$project-image-height: 100px;
$topic-nav-width: 300px;

$light-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);