@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('utils/cssreset.css');

/***************************/
/*        VARIABLES        */
/***************************/

@import './utils/variables';

//****************//
//    ELEMENTS    //
//****************//

body {
  background: white;
  line-height: 1.4em;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

//*****************//
//     CLASSES     //
//*****************//

// General styles

.App {
  text-align: left;
  font-family: $body-font;
  color: $dark-gray;
}

// Main navigation

.NavBar{
  font-family: $title-font;
  text-align: center;
  padding: 20px;
  box-shadow: $light-shadow;
  background-color: white;
  position: relative;
  z-index: 9999;

  .NavOption {
    vertical-align: middle;
  }
}

.MobileNav {
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    width: 30px;
    cursor: pointer;
  }

  .MobileNavLinks {
    margin-left: calc(30px + 1em);
  }

  .Open {
    animation: dropdown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  text-align: left;
}

#Home {
  color: $main-desert;
}

.NavOption {
  margin-right: 48px;
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  color: $main-blue;

  &.active {
    color: $secondary-blue;
  }
}

// People

.StudentList {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

// ListPage
.ListPage {
  margin-top: 30px;
}


// Home vars
$home-padding: 50px;
$caption-padding: 5px;
$top-content-margin: 30px;
$left-content-margin: 150px;
$home-height: 150vh;

// Home

.Home {
  h1, h2 {
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.Caption {
  background-color: rgba(0, 0, 0, 0.6);
  width: max-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: $caption-padding;
  display: none;
}

.Statement {
  line-height: 1.4em;
}

.PubCard {
    width: 200px;
    margin-right: 10px;
    padding: 20px;
    background-color: $beige;
    border-bottom: 3px solid $secondary-desert;

    a {
      color: $secondary-desert;
      font-size: 18px;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      margin-top: 10px;
      padding: 5px;
      background-color: $secondary-desert;
      color: $beige;
      width: max-content;
    }
}

// Other Communities
.Group {
  margin-bottom: 20px;

  a {
    color: $main-desert;
  }

  .GroupName {
    font-size: 24px;
  }
}

/* for tablets and up */
@media only screen and (min-width: $tablet-min-width){
  .Home {
    background-image: url("/images/home_lighter.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: soft-light;
    height: $home-height;
    padding: 15px;
    z-index: -9999;
    .Statement {
      padding-left: 3em;
      max-width: 40vw;
    }
  }

  .HomePubList {
    display: flex;
  }

  .Caption {
    display: inherit;
  }

  .Statement, .WhatsNew {
    margin-left: $left-content-margin;
    margin-top: $top-content-margin;
  }

  .TopicNav {
    margin-left: $topic-nav-margin;
    position: absolute;
    height: 100%;
    width: $topic-nav-width;
    float: left;
  }

  .NavOption {
    font-size: 1.7vw;
  }
}

/* for mobile (phones) */
@media only screen and (max-width: $tablet-min-width){
  .Statement, .WhatsNew {
    margin: 50px;
  }

  .PubCard {
    margin-bottom: 20px;
  }

  .TopicNav {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}



/****************************/
/*        ANIMATIONS        */
/****************************/

/* https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */
@keyframes dropdown {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}