@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('utils/cssreset.css');

/***************************/
/*        VARIABLES        */
/***************************/

@import './utils/variables';

//****************//
//    ELEMENTS    //
//****************//

body {
  background: white;
  line-height: 1.4em;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

//*****************//
//     CLASSES     //
//*****************//

// General styles

.App {
  text-align: left;
  font-family: $body-font;
  color: black;
}

// Main navigation

.NavBar{
  font-family: $title-font;
  text-align: center;
  padding: 20px;
  box-shadow: $light-shadow;
  background-color: white;
  position: relative;
  z-index: 9999;
}

#Home {
  //font-family: "Montserrat Subrayada";
  color: $main-desert;
}

#Research {
  color: $main-blue;
}

#People {
  color: $main-blue;
}

#Courses {
  color: $main-blue;
}

#Others {
  color: $main-blue;
}

.NavOption {
  margin-right: 48px;
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    animation: nav-hover .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}


// TopicNav

.TopicNav {
  margin-left: 10%;
  position: absolute;
  height: 100%;
  float: left;
}

// People

.StudentList {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

// ListPage
.ListPage {
  margin-top: 30px;
}


// Home vars
$home-padding: 50px;
$caption-padding: 5px;
$top-content-margin: 30px;
$left-content-margin: 150px;
$home-height: 150vh;

// Home

.Home {
  h1, h2 {
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.Caption {
  background-color: rgba(0, 0, 0, 0.6);
  width: max-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: $caption-padding;
  display: none;
}

.Statement {
  line-height: 1.4em;
}

.PubCard {
    width: 200px;
    margin-right: 10px;
    padding: 20px;
    background-color: $beige;
    border-bottom: 3px solid $secondary-desert;

    a {
      color: $secondary-desert;
      font-size: 18px;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      margin-top: 10px;
      padding: 5px;
      background-color: $secondary-desert;
      color: $beige;
      width: max-content;
    }
}

@media only screen and (min-width: 769px){
  .Home {
    background-image: url("/images/home_lighter.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: soft-light;
    height: $home-height;
    padding: 15px;
    z-index: -9999;
  }

  .HomePubList {
    display: flex;
  }

  .Caption {
    display: inherit;
  }

  .Statement, .WhatsNew {
    margin-left: $left-content-margin;
    margin-top: $top-content-margin;
  }
}

@media only screen and (min-width: 300px){
  .Statement, .WhatsNew {
    margin: 50px;
  }

  .PubCard {
    margin-bottom: 20px;
  }
}



/****************************/
/*        ANIMATIONS        */
/****************************/
@keyframes nav-hover {
  from {
    text-shadow: 0px 0px gray;
  }

  to {
    text-shadow: -2px -3px lightgray;
  }
}
